<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button @click="changeType">切换</button>
    <keep-alive>
      <component :is="view"></component>
    </keep-alive>
  </div>
  <script src="../dist/vue.js"></script>
  <script>
    Vue.component('acomponent',{
      name:'acomponent',
      data() {
        return {
          name : ''
        }
      },
      
      template: `<div>
                   <h1>acomponent</h1> 
                  <input v-model="name" />  
                </div>`
    })

    Vue.component('bcomponent',{
      name:'bcomponent',
      data() {
        return {
          age : ''
        }
      },
      template: `<div>
                   <h1>bcomponent</h1> 
                  <input v-model="age" />  
                </div>`
    })

    var app = new Vue ({
      el:'#app',
      data: {
        view:'acomponent',
        a: 1,
        b: [2, 3, 4],
        c: {
            d: 5
          }
      },
      methods: {
        changeType() {
          this.view = this.view == 'acomponent' ? 'bcomponent' : 'acomponent'
        }
      }
      // components: {
      //   acomponent,
      //   bcomponent
      // }
    })
  </script>
</body>
</html>